<html>
<head>
    <meta charset="UTF-8">
    <title>Wpisz datę urodzin</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
    <div id="container">
        <form action="oblicz.php" method="get">
        <input placeholder="Dzień urodzin" type="text" name="dzien">
        <input placeholder="Miesiąc" type="text" name="miesiac">
        <input placeholder="Rok" type="text" name="rok">
        <input type="submit" value="OK">
        </form>
    </div>
</body>
<footer>
    Copyright &copy; 2020 <strong>Jakub Kalisz</strong>
</footer>
</html>